/* RESET BASE */
body {
  margin: 0;
  background: #111214;
  color: #e6e6e6;
  font-family: 'Cormorant Garamond', serif;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* LEFT PANEL */
.left-panel {
  width: 25%;
  padding: 40px 30px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 2;

  background: #111214;
  border-right: 1px solid rgba(255,255,255,0.05);
}

/* RIGHT PANEL */
.right-panel {
  width: 66%;
  padding: 60px 60px 80px;
  position: relative;
}

/* glow subtil no fundo */
.right-panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 30% 20%,    rgba(255,255,255,0.04), transparent 60%);
  pointer-events: none;
}

/* TITULOS */
h1, h2, h3 {
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #9aa4b2;
}

h3 {
  font-size: 1.2rem;
 /* margin-bottom: 10px; */
}

/* TEXTO */
p {
  font-size: 1rem;
  line-height: 1.4;
}

/* INTRO */
.intro {
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  color: #c8d1dc;
  line-height: 1.6;
}
/* perguntasexemplo */
.perguntasexemplo {
  font-size: 1.3rem;
  color: #ffffff;
  margin-top: 6px;
  font-style: italic;
  margin-left:10px;
}

/* BOTÕES */
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-top: 11px;
}

button {
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.15);
  color: #cfd6df;
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.25s;
  font-family: 'Cinzel', serif;
  flex-grow: 1;
}

button:hover {
  background: #cfd6df;
  color: #111214;
  box-shadow: 0 0 12px rgba(201,169,110,0.25);
}

/* CARDS GRID */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

/* CARD BASE */


.card {
    border-radius: 18px;
    transition: 0.3s;
    position: relative;
    padding: 20px;
    width: 220px;
    border: 1px solid transparent;
    background: linear-gradient(145deg, #1c1f24, #14161a) padding-box, linear-gradient(to top left, #67676729, #d9d5d57d) border-box;
}

/* glow subtil */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at top, rgba(255,255,255,0.05), transparent 70%);
  pointer-events: none;
}

.card:hover {
  transform:scale(1.04);
  border-color: rgba(255,255,255,0.2);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
/* label pequena */
.card-label {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 6px;

}
/* TITULO CARD */
.card h3 {
  color: #f0f3f7;
}

/* TEXTO CARD */
.card p {
  color: #ffffff;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
}
/* ELEMENTOS CUSTOMIZADOS */
/* FOGO */
.card.elemento.fogo {
  background:
    linear-gradient(145deg, #ff2f00bf, #14161a) padding-box,
    linear-gradient(to top left, #67676729, #d9d5d57d) border-box;
  border: 1px solid transparent;
}

/* AR */
.card.elemento.ar {
  background:
    linear-gradient(145deg, #dfe6ec, #14161a) padding-box,
    linear-gradient(to top left, #ffffff33, #d9d5d57d) border-box;
  border: 1px solid transparent;
}

/* ÁGUA */
.card.elemento.agua {
  background:
    linear-gradient(145deg, #1e6fffcc, #14161a) padding-box,
    linear-gradient(to top left, #4aa3ff66, #d9d5d57d) border-box;
  border: 1px solid transparent;
}

/* TERRA */
.card.elemento.terra {
  background:
    linear-gradient(145deg, #25790f, #14161a) padding-box,
    linear-gradient(to top left, #7a9c5a55, #d9d5d57d) border-box;
    border: 1px solid transparent;
}
.card.arquetipo {
  background-size: cover;
  background-position: center;
  position: relative;
}
.card.arquetipo.vermelho {  background:
    linear-gradient(145deg, #ff3b3bcc, #14161a) padding-box,
    linear-gradient(to top left, #ff8a8a55, #ffffff22) border-box; }
.card.arquetipo.laranja { background:
    linear-gradient(145deg, #ff8c3acc, #14161a) padding-box,
    linear-gradient(to top left, #ffc27a55, #ffffff22) border-box; }
.card.arquetipo.amarelo { background:
    linear-gradient(145deg, #ffd93bcc, #14161a) padding-box,
    linear-gradient(to top left, #fff2a855, #ffffff22) border-box; }
.card.arquetipo.verde { background:
    linear-gradient(145deg, #3bd16fcc, #14161a) padding-box,
    linear-gradient(to top left, #a8f0c555, #ffffff22) border-box; }
.card.arquetipo.azul-claro { background:
    linear-gradient(145deg, #3bb8ffcc, #14161a) padding-box,
    linear-gradient(to top left, #a8dcff55, #ffffff22) border-box; }
.card.arquetipo.indigo { background:
    linear-gradient(145deg, #5a4bffcc, #14161a) padding-box,
    linear-gradient(to top left, #b0a8ff55, #ffffff22) border-box; }
.card.arquetipo.violeta { background:
    linear-gradient(145deg, #b84bffcc, #14161a) padding-box,
    linear-gradient(to top left, #e0a8ff55, #ffffff22) border-box; }


/* BASE CHAKRA */
.card.chakra {
  border: 1px solid transparent;
}

/* 1 - Vermelho */
.card.chakra.vermelho {
  background:
    linear-gradient(145deg, #ff3b3bcc, #14161a) padding-box,
    linear-gradient(to top left, #ff8a8a55, #ffffff22) border-box;
}

/* 2 - Laranja */
.card.chakra.laranja {
  background:
    linear-gradient(145deg, #ff8c3acc, #14161a) padding-box,
    linear-gradient(to top left, #ffc27a55, #ffffff22) border-box;
}

/* 3 - Amarelo */
.card.chakra.amarelo {
  background:
    linear-gradient(145deg, #ffd93bcc, #14161a) padding-box,
    linear-gradient(to top left, #fff2a855, #ffffff22) border-box;
}

/* 4 - Verde */
.card.chakra.verde {
  background:
    linear-gradient(145deg, #3bd16fcc, #14161a) padding-box,
    linear-gradient(to top left, #a8f0c555, #ffffff22) border-box;
}

/* 5 - Azul claro */
.card.chakra.azul-claro {
  background:
    linear-gradient(145deg, #3bb8ffcc, #14161a) padding-box,
    linear-gradient(to top left, #a8dcff55, #ffffff22) border-box;
}

/* 6 - Índigo */
.card.chakra.indigo {
  background:
    linear-gradient(145deg, #5a4bffcc, #14161a) padding-box,
    linear-gradient(to top left, #b0a8ff55, #ffffff22) border-box;
}

/* 7 - Violeta */
.card.chakra.violeta {
  background:
    linear-gradient(145deg, #b84bffcc, #14161a) padding-box,
    linear-gradient(to top left, #e0a8ff55, #ffffff22) border-box;
}
/* BASE */
.card.substancia {
  border: 1px solid transparent;
}

/* SULPHUR — fogo + terra */
.card.substancia.sulphur {
  background:
    linear-gradient(145deg, #ff5a2fcc, #c9a23a99, #14161a) padding-box,
    linear-gradient(to top left, #ffb34755, #8a6b2f55) border-box;
}

/* SAL — branco / integrador */
.card.substancia.sal {
  background:
    linear-gradient(145deg, #f2f2f2cc, #cfcfcfaa, #14161a) padding-box,
    linear-gradient(to top left, #ffffff88, #cccccc55) border-box;
  color: #ffffff; 
}

.card.substancia.sal p,
.card.substancia.sal h3 {
  color: #ffffff;
}

/* MERCURIUS — água + ar */
.card.substancia.mercurius {
  background:
    linear-gradient(145deg, #3bb8ffcc, #cfd8e6aa, #14161a) padding-box,
    linear-gradient(to top left, #a8dcff55, #ffffff44) border-box;
}

/* TAROT ESPECÍFICO */
.tarot-card img {
  width: 100%;
  height: auto;
  max-height: 333px;
  object-fit: contain;
  border-radius: 6px;
  margin: 12px 0;
}
.card.tarot img{
  width: 100%;
  height: auto;
  max-height: 333px;
  object-fit: contain;
  border-radius: 6px;
  margin: 12px 0;
}
.card.tarot.chakra {
  border: 1px solid transparent;
}

/* Tiragem 14 */
.card.chakra {
  border: 1px solid transparent;
}

/* 1 - Vermelho */
.card.tarot.vermelho {
  background:
    linear-gradient(145deg, #ff3b3bcc, #14161a) padding-box,
    linear-gradient(to top left, #ff8a8a55, #ffffff22) border-box;
}

/* 2 - Laranja */
.card.tarot.laranja {
  background:
    linear-gradient(145deg, #ff8c3acc, #14161a) padding-box,
    linear-gradient(to top left, #ffc27a55, #ffffff22) border-box;
}

/* 3 - Amarelo */
.card.tarot.amarelo {
  background:
    linear-gradient(145deg, #ffd93bcc, #14161a) padding-box,
    linear-gradient(to top left, #fff2a855, #ffffff22) border-box;
}

/* 4 - Verde */
.card.tarot.verde {
  background:
    linear-gradient(145deg, #3bd16fcc, #14161a) padding-box,
    linear-gradient(to top left, #a8f0c555, #ffffff22) border-box;
}

/* 5 - Azul claro */
.card.tarot.azul-claro {
  background:
    linear-gradient(145deg, #3bb8ffcc, #14161a) padding-box,
    linear-gradient(to top left, #a8dcff55, #ffffff22) border-box;
}

/* 6 - Índigo */
.card.tarot.indigo {
  background:
    linear-gradient(145deg, #5a4bffcc, #14161a) padding-box,
    linear-gradient(to top left, #b0a8ff55, #ffffff22) border-box;
}

/* 7 - Violeta */
.card.tarot.violeta {
  background:
    linear-gradient(145deg, #b84bffcc, #14161a) padding-box,
    linear-gradient(to top left, #e0a8ff55, #ffffff22) border-box;
}

/*
//Tarot LUZ 
.card.tarot.luz {
  box-shadow: 0 0 20px rgba(255,255,255,0.08);
}

//Tarot SOMBRA 
.card.tarot.sombra {
  filter: brightness(0.85);
}*/

/* HEADER TAROT */
.tarot-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarot-numero {
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 1px;
}
/*.card.tarot-card p {
  text-align: center;
}*/

/* RESPONSIVO */
@media (max-width: 1380px) {
  .layout {
    flex-direction: column;
  }

  .left-panel {
    width: stretch;
    height: auto;
    position: relative;
    border-right: none;
  }

  .right-panel {
    width: stretch;
    padding: 40px 20px;
  }
   .main-buttons {
    justify-content: center;
  }

  .main-buttons button {
    width: 100%;
  }
  .secondary-buttons {
    flex-direction: column;
    margin-top: 3%;
  }
   .secondary-buttons button {
    width: 100%;
  }
}
.result-block {
  margin-bottom: 40px;
}
/* estado inicial escondido */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: reveal 1.6s ease forwards;
}

@media (max-width: 900px) {
.card {
    padding: 13px;
    width: 200px;
   }
  }
@media (max-width: 525px) {
.card {
    width: stretch;
   }
  }
@keyframes reveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#zoom-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#zoom-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}
.reset-btn {
  flex: 1;

  background: rgba(180,60,60,0.08);
  border: 1px solid rgba(180,60,60,0.35);
  color: #d89a9a;

  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.reset-btn:hover {
  background: rgba(180,60,60,0.2);
  color: #fff;
  border-color: rgba(180,60,60,0.6);
}
.main-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.full-btn {
  flex: 1;

  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.2);
  color: #e6e6e6;

  padding: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.full-btn:hover {
  background: #e6e6e6;
  color: #111;
}